@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    font-family: 'Poppins';
    font-size: 0.8em;
}
.page-hider {
    display: none;
}
.active-nav {
    border-bottom: 2px solid #fff;
}