#chats-body {
    margin-top: 2%;
}
.active-chats, .contact {
    font-size: 1.2em;
    margin: 5% auto 0;
    width: 92%;
    padding: 0.5em;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
}
.contact {
    border: none;
    background: #f6f6f6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#contacts-sub-page {
    margin-top: 10%;
}
#contacts-search-bar {
    margin-top: 6%;
    text-align: center;
}
#user-search-input {
    padding: 0.4em;
    border: 2px solid #2179e4;
    text-align: center;
    width: 90%;
    box-shadow: 0 0 6px 4px #f2f2f2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.user-handle {
    opacity: 0.6;
}
.recent-message {
    color: #555;
    margin-top: 0.5%;
    margin-left: 1%;
}
.user-about {
    font-size: 0.8em;
    margin: 1%;
    color: #666;
}
.recent-messages-count {
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    color: #fff;
    background-color: #2179e4;
    margin-right: 0.5em;
    padding: 0.2em 0.5em;
    font-size: 0.7em;
    margin-bottom: 1em; 
}
#active-user-chat-page {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/chat-doodle-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#chat-header {
    background-color: #2179e4;
    top: 0;
    left: 0;
    right: 0;
    min-height: 5vh;
    padding-top: 1em;
    position: fixed;
}
#exit-active-user-chat-page-btn {
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
    cursor: pointer;
}
#exit-active-user-chat-page-btn img {
    width: 1.2em;
}
#header-user-name {
    color: white;
}
#chats {
    margin-top: 8vh;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.chat-texts {
    background: #fff;
    min-width: 5%;
    max-width: 50%;
    width: fit-content;
    padding: 0.5em;
    box-shadow: 0 0 1px 1px #ddd;
    margin-top: 0.4em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.my-texts {
    margin-left: auto;
    margin-right: 0;
    background-color: #9ecaff;
}
#message-bar {
    position: fixed;
    width: 95%;
    bottom: 1.5em;
    left: 50%;
    transform: translate(-50%, 0);
}
#message-input {
    outline: none;
    border: 2px solid #2179e4;
    padding: 0.5em;
    font-size: 0.9em;
    width: 80%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#message-send {
    background-color: #2179e4;
    border: none;
    outline: none;
    padding: 0.8em 0.95em;
    cursor: pointer;
    position: absolute;
    margin-left: 4px;
    bottom: -0.4em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#message-send:active {
    border: 2px solid #00408f;
}
#message-send img {
    width: 1.5em;
}

@media screen and (min-width: 768px) {
    #app-main {
        width: 20em;
    }
}