#chats-body {
    margin-top: 2%;
}
.active-chat, .contact {
    font-size: 1.2em;
    margin: 5% auto 0;
    width: 92%;
    padding: 0.5em;
    border-bottom: 1px solid #bbb;
}
.contact {
    border: none;
    background: #f6f6f6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#contacts-sub-page {
    margin-top: 10%;
}
#contacts-search-bar {
    margin-top: 6%;
    text-align: center;
}
#user-search-input {
    padding: 0.4em;
    border: 2px solid #2179e4;
    text-align: center;
    width: 90%;
    box-shadow: 0 0 6px 4px #f2f2f2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.user-handle {
    opacity: 0.6;
}
.recent-message {
    color: #555;
    margin-top: 0.5%;
    margin-left: 1%;
}
.user-about {
    font-size: 0.8em;
    margin: 1%;
    color: #666;
}
.recent-messages-count {
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    color: #fff;
    background-color: #2179e4;
    margin-right: 0.5em;
    padding: 0.2em 0.5em;
    font-size: 0.7em;
    margin-bottom: 1em; 
}