header {
    background-color: #2179e4;
    position: relative;
    width: 100%;
    min-height: 5em;
    box-shadow: 0 0 4px 2px #ccc;
}
#header-app-name {
    color: white;
    position: absolute;
}
#header-app-name {
    margin-left: 1em;
    font-size: 1.5em;
}
#header-title {
    bottom: 0;
    margin-left: 3em;
}
nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style-type: none;
    color: white;
    display: inline-block;
    width: 50%;
    text-align: center;
}