header {
    background-color: #2179e4;
    position: relative;
    width: 100%;
    min-height: 5em;
    box-shadow: 0 0 4px 2px #ccc;
}
#header-app-name {
    color: #2179e4;
    margin: 0 auto;
    font-size: 1em;
    background: #fff;
    padding: 0.5em;
    width: 3em;
    text-align: center;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}
#header-title {
    bottom: 0;
    margin-left: 3em;
}
nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style-type: none;
    color: white;
    display: inline-block;
    width: 50%;
    text-align: center;
}